#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp ESC    &kp F1    &kp F2    &kp F3     &kp F4  &kp F5  &kp F6  &kp F7  &kp F8    &kp F9   &kp F10     &kp F11    &kp F12    &kp PSCRN  &kp SLCK  &kp PAUSE_BREAK
                &kp GRAVE  &kp N1    &kp N2    &kp N3     &kp N4  &kp N5  &kp N6  &kp N7  &kp N8    &kp N9   &kp N0      &kp MINUS  &kp EQUAL  &kp BSPC   &kp INS   &kp HOME
                &kp TAB    &kp Q     &kp W     &kp E      &kp R   &kp T   &kp Y   &kp U   &kp I     &kp O    &kp P       &kp LBKT   &kp RBKT   &kp BSLH   &kp DEL   &kp END
                &kp CAPS   &kp A     &kp S     &kp D      &kp F   &kp G   &kp H   &kp J   &kp K     &kp L    &kp SEMI    &kp SQT    &kp ENTER
                &kp LSHFT  &kp Z     &kp X     &kp C      &kp V   &kp B   &kp N   &kp M   &kp COMMA &kp DOT  &kp SLASH   &kp RSHFT             &kp UP
                &kp LCTRL  &kp LGUI  &kp LALT                     &kp SPACE               &kp RALT  &kp RGUI &kp K_CMENU &kp RCTRL
                &kp LEFT   &kp DOWN  &kp RIGHT &kp PG_DN  &kp PG_UP
            >;
        };

        // default_layer {
        //     bindings = <
        //         &kp ESC    &kp N1        &kp N2 &kp N3 &kp N4    &kp N5                                          &kp N6               &kp N7              &kp N8        &kp N9      &kp N0          &kp BACKSPACE
        //         &kp TAB    &kp Q         &kp W  &kp F  &kp P     &kp G                                           &kp J                &kp L               &kp U         &kp Y       &kp BACKSPACE   &kp BACKSLASH
        //         &kp CAPS   &kp A         &kp R  &kp S  &kp T     &kp D     &none          &none &none            &kp H                &kp N               &kp E         &kp I       &kp O           &kp ENTER
        //         &kp LSHIFT &bm LSHIFT Z  &kp X  &kp C  &kp V     &kp B     &none          &none &none            &kp K                &kp M               &kp COMMA     &kp PERIOD  &bm RSHIFT FSLH &kp RSHIFT
        //                                         &none  &kp LCTRL &kp LALT  &sm LGUI SPACE &none &lt MAC_CODE TAB &lt MAC_NUMBER ENTER &td_multi_mac &none
        //     >;
        // };

    };
};